*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.the-h1{
    text-align: center !important;
    margin: 15px 0 !important;
}

.clear{
    clear: both;
}

.icon-len{
    background-color: #000;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #000;
}

.header ul{

}

.header li{
    display: inline;
    line-height: 50px;

}

.header a:hover{
    background-color: #ccc;
    color: #000;
}

.header li a{
    text-decoration: none;
    color: #fff;
    padding: 17px;
}

.cau-hoi{
    margin: 0 15px;
}

.cau-hoi p {
    margin: 25px 0;
}

.anh-tra-loi{
    width: 300px;
    height: 200px;
    margin: 10px 355px;
}

#de-le{
    margin: 0 20px;
}

.chon-de{
    margin: 20px;
}

.chon-de a{
    padding: 10px;
    color: #fff;
    background-color: #000;
}

#de-le-dia{
    margin:0 20px ;
}

#de-chan-dia{
    margin:0 20px ;
}

.dap-an {
    color: red;
}

.tra-loi{
    margin: 15px;
}

.mon-sinh a {
    background-color: #000;
    color: #fff;
    margin: 0 5px;
    padding: 10px;
}

.mon-sinh .trac-tu {
    margin: 20px 0;
}

#tu-luan-sinh{
    margin: 0 15px;
}

.mon-sinh ul {
    margin: 10px 0;
}

.tra-loi p{
    margin: 10px 0;
}

.icon-len{
    
}

.icon-len-tren{
    margin: 10px 20px;
    font-size: 80px;
}

.icon-len a{
    color: rgb(255, 0, 0);
    position: fixed;
    float: right;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    text-decoration: none;
}